<!DOCTYPE html>
<html>
  <head>
    <title> url-capture </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<h1>url-capture</h1>
    <p>url-capture is API for taking full screenshots of websites.</p>

    <p>It's a simple node.js application running on a free heroku instance.</p>

  </body>
</html>



