<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<h1> Site rendered <%= query_url %></h1>

    <h2><%= title %></h2>

  	<% if (datauri) { %>
      	<img src="<%= datauri %>">
  	<% } %>

  </body>
</html>



